/* Common */
.carousel img{
  object-fit:cover;
}

/* Carousel */
.carousel{
  width:100%;
  height:500px;
  position:relative;
  padding:0;
}
.carousel figure{
  width:100%;
  height:100%;
  display:flex;
  gap:10px;
  overflow-x:scroll;
  position:relative;
  border-radius:8px;
  margin:0;
  padding:100px 0;
}
.carousel figure .item{
  width:400px;
  min-width:400px;
  max-width:100%;
  height:100%;
  flex:1;
  position:relative;
  z-index:-1;
  
}
.carousel figure .item > *{
  width:100%;
  height:100%;
  box-shadow:4px 4px 10px rgba(0,0,0,0.5);
}

/* scroll-bar hidden */
.carousel figure{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.carousel figure::-webkit-scrollbar{
  display:none;
}

/* Fit center */
.carousel figure{
  scroll-snap-type: x mandatory;
}
.carousel figure .item{
  scroll-snap-align: center;
  scroll-snap-stop : always; /* １要素ずつスクロールする */
}

@media (max-width:768px){
  .carousel figure .item{
    width:100%;
    min-width:100%;
    max-width:100%;
  }
}



.carousel{
  --perspective-size : 1500px;
}

.carousel figure .item{
  z-index:-1; 
  perspective-origin: center;
  --z   : 0;
  --rot : 0;
  --scale:1.0;
}

.carousel figure .item > *{
  transition-property: transform,filter,-ms-filter;
  transition-duration: 0.5s;
  transform:scale(var(--scale));
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.carousel figure .item[data-status="active"]{
  z-index:2;
}
.carousel figure .item[data-status="active"] > *{
  transform:scale(1.5);
  -ms-filter: blur(0px);
  filter: blur(0px);
}

